*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  padding: 10px 20px ;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color:rgba(0, 255, 255, 0.765);
  font-size: 20px;
  font-weight: 700;
}
button:active{
  scale: 0.9;
}
.card{
  height: 300px;
  width: 300px;
  background-color:#222;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px
  ;align-items: center;
  text-align: center;
  padding: 10px;
}
a{
  display: block;
  text-decoration: none;
}

a img{
  height: 200px;
width: 150px;
object-fit: cover;
  
}
.product{
  
  display: flex;
  

}
.card h4{
  font-size: 18px;
color: white;

}
.prod-lst{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 justify-content: space-between;
}
.home{
  display: flex;
  height: 100vh;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px
  ;
}
.home h1{
  font-size: 70px;
  font-weight: 500;

}

.card-details{
  margin: 20px;
  padding: 10px;
  background: #222;
  height: fit-content;
  width: 490px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  text-align: center;

}
.card-details h4{
  font-size: 20px;
  color: red;
}
.card-details img{
  height: 300px;
  width: 300px;
 
 
}

.card-details p{
  font-size: 18px;
  font-weight: 500;
  color: lightblue;
}
.card-details h5{
  font-size: 30px;
}